.card-beach-img {
    height: 150px;
    object-fit: cover;
}

.card-beach {
    margin-bottom: 20px;
}

.paddin {
    padding-top: 2%;
}
.paddingb{
    padding-bottom: 2%;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
