.text{
    text-align: center;
}
.padding{
    padding-top: 2%;
}

.bg-home{
    height: 500px;
    background-image: url('https://media.giphy.com/media/7GHRDluBmx9O8/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.text-ocean{
    text-align: center;
    padding-top: 12%;
}