.img-prof{
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.text{
    color: black;
}

.card-size{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}   

.space{
    margin: 3% auto;
}